<div class="tabs">
      <a routerLink="bookmarks" routerLinkActive="selected" class="tab bookmarks-tab">
        <div class="tab-tile">

          <i class="material-symbols-outlined">bookmarks</i>
        </div>
      </a>

      <a routerLink="todos" routerLinkActive="selected" class="tab todos-tab">
        <div class="tab-tile">

          <i class="material-symbols-outlined">check</i>
        </div>
      </a>

      <a routerLink="notes" routerLinkActive="selected" class="tab notes-tab">
        <div class="tab-tile">

          <i class="material-symbols-outlined">notes</i>
        </div>
      </a>
</div>



