<div class="todo-item" [class.completed]="todo.completed">
  <div class="check-box">
      <i class="material-symbols-outlined">check</i>
  </div>
    <p class="todo-text">{{ todo.text}}</p>

    <div class="todo-item-actions" (click)="$event.stopPropagation()">
      <div class="btn-todo-item-action-btn" (click)="onEditClick()">
        <i class ="material-symbols-outlined">edit</i>

      </div>
      <div class="btn-todo-item-action-btn" (click)="onDeleteClick()">
        <i class ="material-symbols-outlined">delete</i>

      </div>

    </div>
</div>

